body, canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 90%);
}

body {
	background: hsl(210, 80%, 10%);
}

pre.shader {
	display: none;
}

pre {
	color: hsl(0, 0%, 90%);
	padding: 1em;
	margin: 0;
}
