@font-face {
	font-family: "FSEX300";
	src: url("FixedsysExcelsiorIIIb.woff");
}

body {
	background-color: hsl(210, 80%, 10%);
	color: hsla(0, 0%, 100%, .8);
	font-size: 16px;
}

body.bl {
	background-color: black;
}

body.wh {
	color: #333;
	margin: auto;
	width: 35em;
	line-height: 1.5em;
	padding: 0 0 0 1px;
	
	background-color: white;
	background-image: repeating-linear-gradient(-45deg,
												hsla(0, 0%, 0%, 0),
												hsla(0, 0%, 0%, 0) 30px,
												hsla(0, 100%, 0%, .03) 30px,
												hsla(0, 100%, 0%, .03) 32px
											   ); 
}

h1 {
	font-size: 64px;
	line-height: 64px;
	font-weight: normal;
	margin: 0;
	padding: 1em 0;
}

h1 > span {
	animation: colorize 5s linear infinite;
	animation-direction: normal;
	position: relative;
}

h1 > span:nth-child(20n) { 	animation-delay: -5s; }
h1 > span:nth-child(20n+1) { animation-delay: -4.75s; }
h1 > span:nth-child(20n+2) { animation-delay: -4.5s; }
h1 > span:nth-child(20n+3) { animation-delay: -4.25s; }
h1 > span:nth-child(20n+4) { animation-delay: -4s; }
h1 > span:nth-child(20n+5) { animation-delay: -3.75s; }
h1 > span:nth-child(20n+6) { animation-delay: -3.5s; }
h1 > span:nth-child(20n+7) { animation-delay: -3.25s; }
h1 > span:nth-child(20n+8) { animation-delay: -3s; }
h1 > span:nth-child(20n+9) { animation-delay: -2.75s; }
h1 > span:nth-child(20n+10) { animation-delay: -2.5s; }
h1 > span:nth-child(20n+11) { animation-delay: -2.25s; }
h1 > span:nth-child(20n+12) { animation-delay: -2s; }
h1 > span:nth-child(20n+13) { animation-delay: -1.75s; }
h1 > span:nth-child(20n+14) { animation-delay: -1.5s; }
h1 > span:nth-child(20n+15) { animation-delay: -1.25s; }
h1 > span:nth-child(20n+16) { animation-delay: -1s; }
h1 > span:nth-child(20n+17) { animation-delay: -.75s; }
h1 > span:nth-child(20n+18) { animation-delay: -.5s; }
h1 > span:nth-child(20n+19) { animation-delay: -.25s; }

@keyframes colorize {
	0%   { color: hsl(0, 100%, 50%); top: 0px; }
	10%  { color: hsl(36, 100%, 50%); top: 1px; }
	20%  { color: hsl(72, 100%, 50%); top: 2px; }
	30%  { color: hsl(108, 100%, 50%); top: 3px; }
	40%  { color: hsl(144, 100%, 50%); top: 4px; }
	50%  { color: hsl(180, 100%, 50%); top: 5px; }
	60%  { color: hsl(216, 100%, 50%); top: 4px; }
	70%  { color: hsl(252, 100%, 50%); top: 3px; }
	80%  { color: hsl(288, 100%, 50%); top: 2px; }
	90%  { color: hsl(324, 100%, 50%); top: 1px; }
	100% { color: hsl(360, 100%, 50%); top: 0px; }
}

body, pre, input {
	font-family: "Fixedsys Excelsior 3.01", "Fixedsys Excelsior 3.00", "FSEX300", monospace;
}

a, a:visited, a:active {
	color: black;
}

input {
	background-color: transparent;
	border: 0;
	color: hsla(0, 0%, 100%, .8);
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-shadow: none;
}

input:focus {
	outline: 1px solid hsla(210, 80%, 80%, .8);
	color: #FFF;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

pre.shader {
	display: none;
}

ul#shortcuts, ul#menu {
	position: fixed;
	margin: 0;
	padding: 0;
	opacity: .8;
}

ul#shortcuts > li, ul#menu > li {
	list-style-type: none;
	display: block;
}

ul#shortcuts {
	top: 4px;
	left: 8px;
}

ul#menu {
	top: 0px;
	right: 0px;
	width: 256px;
	background-color: hsla(0, 0%, 0%, .5);
}

ul#menu > li {
	position: relative;
	height: 16px;
	line-height: 16px;
	margin-bottom: 4px;
}

ul#menu > li > label {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	text-align: right;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	box-sizing: border-box;
	padding-right: 2px;
}

ul#menu > li > div.payload {
	position: absolute;
	left: 25%;
	width: 75%;
	top: 0%;
	height: 100%;
}

ul#menu > li > div.payload.range > input[type="range"] {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
}

ul#menu > li > div.payload.range > input[type="number"] {
	position: absolute;
	left: 50%;
	top: 0;
	width: 50%;
	height: 100%;
}

ul#dl {
	list-style-type: none;
	margin: 1em 0;
	padding: 0;
}

ul#dl > li {
	margin: 10em 0;
}

ul#dl > li > h6 {
	font-size: 32px;
	font-weight: normal;
	text-align: center;
	margin: 0;

	position: relative;
	width: 17.5em;
	height: 4.375em;
}

ul#dl > li > h6 > a {
	color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

ul#dl > li > h6 > a > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

ul#dl > li > h6 > a > span {
	display: block;
	text-align: center;
	line-height: 4.375em;
}

ul#dl > li > footer {
	text-align: right;
	opacity: .5;
}
